*

!/.gitignore
!/LICENSE
!/README.md
!/pyproject.toml
!/.github/
!/.github/workflows/
!/.github/workflows/ci.yml
!/src/
!/src/ru_stylometry/
!/src/ru_stylometry/**
!/tests/
!/tests/**
/tests/test_colab_notebook.py
/tests/test_compare_neural.py
/tests/test_experiments_helpers.py

__pycache__/
*.py[cod]
*.egg-info/
